

/* Default  */

@import'default/variables';
@import'default/typography';
@import'default/spacing';
@import'default/reset';
@import'default/forms';
@import'default/shortcode';
@import'default/animations';
@import'default/text-animation';

/* header  */
@import'header/header';
@import'header/nav';
@import'header/dropdown';
@import'header/sidebar';
@import'header/mobile-menu';

/* elements  */
@import'elements/banner';
@import'elements/button';

@import'elements/service';
@import'elements/about';


@import'elements/testimonials';

@import'elements/search_input';
@import'elements/back-to-top';

@import'elements/cta';
@import'elements/footer';

@import'elements/progress';

@import'elements/contact';


@import'elements/what-we-offer';
@import'elements/why-choose';


@import'elements/loader';
@import'elements/faq';
